<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>position</key>
	<dict>
		<key>titleLabel</key>
		<dict>
			<key>x</key>
			<string>1998</string>
			<key>y</key>
			<string>1452</string>
		</dict>
		<key>tableView</key>
		<dict>
			<key>x</key>
			<string>1877</string>
			<key>y</key>
			<string>549</string>
		</dict>
		<key>pPencilIcon</key>
		<dict>
			<key>x</key>
			<string>804</string>
			<key>y</key>
			<string>60</string>
		</dict>
		<key>pDocumentIcon</key>
		<dict>
			<key>x</key>
			<string>1024</string>
			<key>y</key>
			<string>60</string>
		</dict>
		<key>pSettingsIconActive</key>
		<dict>
			<key>x</key>
			<string>1244</string>
			<key>y</key>
			<string>60</string>
		</dict>
		<key>pPencilIconLabel</key>
		<dict>
			<key>x</key>
			<string>804</string>
			<key>y</key>
			<string>15</string>
		</dict>
		<key>pDocumentIconLabel</key>
		<dict>
			<key>x</key>
			<string>1024</string>
			<key>y</key>
			<string>15</string>
		</dict>
		<key>pSettingsIconActiveLabel</key>
		<dict>
			<key>x</key>
			<string>1244</string>
			<key>y</key>
			<string>15</string>
		</dict>
	</dict>
	<key>size</key>
	<dict>
		<key>tableView</key>
		<dict>
			<key>width</key>
			<string>1877</string>
			<key>htight</key>
			<string>549</string>
		</dict>
	</dict>
	<key>sound</key>
	<dict>
		<key>bgSound1</key>
		<string>u1bgmusic.mp3</string>
	</dict>
</dict>
</plist>
